.foto {
    background-color:yellow;
    width: 100px;
    height: 100px;
    border-radius: 25px;
    border:3px solid black; 
}
  .texto {
    color: rgb(184, 184, 255);
  }
  .cabeça {
      background-color: rgb(96, 205, 255);
      width: 780.03px;
      height: 300px;
      border-radius: 250;
  }

  .nomep {
      background-color: crimson;
      width: 780.03px;
      height: 90px;
  }