
    .titulo,
    .texto { 
        color:blue;
        font-size: 20px; 
    } 

    .titulo {
        font-weight: normal;

    }

    .texto {
        font-weight: bold;
    }

    .sub-titulo {
        color: purple;
    }

    /* .texto {
        font-size: 20px;
        color:red
    } */

    a {
        color:green;
        font-size:30px;
    }

    img {
        width:200px;
    }

    ol li {
        font-weight: bold;
        color:tomato;
    }

    ul li {
        font-weight: bold;
        color:rgb(255, 0, 242);
    }

